/***** Start Variables *****/
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background-color: #f6f6f6;
}
/***** End Variables *****/

/***** Start Global Rules *****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", serif;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}
/***** End Global Rules *****/

/***** Start Components *****/
.special-heading {
  color: #ebeced;
  font-weight: 800;
  font-size: 100px;
  text-align: center;
  letter-spacing: -3px;
}

.special-heading + p {
  margin-top: -30px;
  font-size: 20px;
  text-align: center;
  color: #777;
}
/***** End Components *****/

/***** Start Header Section *****/
.header {
  padding: 20px;
}

.header .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .content .logo {
  width: 60px;
}

.header .container .content .links {
  position: relative;
}

.header .container .content .links:hover ul {
  display: block;
}

.header .container .content .links i {
  font-size: 20px;
}

.header .container .content .links ul {
  position: absolute;
  background-color: #f6f6f6;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 300px;
  right: 0;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

.header .container .content .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent darkgrey transparent;
  position: absolute;
  right: 0;
  top: -20px;
}

.header .container .content .links ul li:not(:last-child) a {
  border-bottom: 2px solid #ddd;
}

.header .container .content .links ul li a {
  display: block;
  padding: 10px;
  color: #222;
  text-decoration: none;
  transition: 0.3s padding;
  -webkit-transition: 0.3s padding;
  -moz-transition: 0.3s padding;
  -ms-transition: 0.3s padding;
  -o-transition: 0.3s padding;
}

.header .container .content .links ul li a:hover {
  padding-left: 30px;
}
/***** End Header Section *****/

/***** Start Landing Section *****/
.landing {
  background-image: url("../imgs/landing.jpg");
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .content {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 320px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.landing .content h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}

.landing .content p {
  font-size: 18px;
  line-height: 1.8;
}
/***** End Landing Section *****/

/***** Start Features Section *****/
.features {
  background-color: var(--section-background-color);
  padding-block: var(--section-padding);
}

.features .container .features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .container .features-grid .features-item {
  padding: 20px;
  text-align: center;
}

.features .container .features-grid .features-item i {
  color: var(--main-color);
}

.features .container .features-grid .features-item h3 {
  font-weight: 800;
  margin-block: 30px;
}

.features .container .features-grid .features-item p {
  line-height: 1.6;
}
/***** End Features Section *****/

/***** Start Services Section *****/
.services {
  padding-block: var(--section-padding);
}

.services .container .services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}

.services .container .services-grid .col .item {
  display: flex;
  margin-bottom: 20px;
}

.services .container .services-grid .col .item i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .container .services-grid .col .item .content {
  flex-basis: 0;
  flex-grow: 1;
}

.services .container .services-grid .col .item .content h3 {
  margin-bottom: 20px;
}

.services .container .services-grid .col .item .content p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}

.services .container .services-grid .col .image {
  text-align: center;
  position: relative;
}

.services .container .services-grid .col .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 100px);
  position: absolute;
  right: 0;
  top: -50px;
  z-index: -1;
}

.services .container .services-grid .col .image img {
  width: 260px;
}
/***** End Services Section *****/

/***** Start Portfolio Section *****/
.portfolio {
  background-color: var(--section-background-color);
  padding-block: var(--section-padding);
}

.portfolio .portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}

.portfolio .portfolio-grid .card {
  background-color: #fff;
}

.portfolio .portfolio-grid .card img {
  width: 100%;
  display: block;
}

.portfolio .portfolio-grid .card .content {
  padding: 20px;
}

.portfolio .portfolio-grid .card .content p {
  color: #444;
  line-height: 1.6;
  margin-top: 20px;
}
/***** End Portfolio Section *****/

/***** Start About Section *****/
.about {
  padding-block: var(--section-padding);
}

.about .about-flex {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about .about-flex .image {
  position: relative;
  width: 250px;
  height: 375px;
}

.about .about-flex .content {
  flex-basis: calc(100% - 500px);
}

.about .about-flex .content p:first-of-type {
  line-height: 2;
  font-weight: bold;
  margin-bottom: 50px;
}

.about .about-flex .content hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}

.about .about-flex .content p:last-of-type {
  line-height: 2;
  color: #444;
  margin-top: 30px;
}

.about .about-flex .image::before {
  content: "";
  background-color: #ebeced;
  width: 80px;
  height: calc(100% + 80px);
  position: absolute;
  left: -20px;
  top: -40px;
  z-index: -1;
}

.about .about-flex .image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 300px;
  border-left: 60px solid var(--main-color);
  border-bottom: 60px solid var(--main-color);
  top: -40px;
  right: -130px;
  z-index: -1;
}

.about .about-flex .image img {
  max-width: 100%;
}
/***** End About Section *****/

/***** Start Contact Section *****/
.contact {
  padding-block: var(--section-padding);
  background-color: var(--section-background-color);
}

.contact .content {
  padding-block: var(--section-padding);
  text-align: center;
}

.contact .content .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .content .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
  margin-bottom: 15px;
}

.contact .content .social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact .content .social i {
  color: var(--secondary-color);
}
/***** End Contact Section *****/

/***** Start Footer Section *****/
.footer {
  padding-block: var(--section-padding);
  background-color: var(--secondary-color);
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.footer p span {
  font-weight: bold;
  color: var(--main-color);
}
/***** End Footer Section *****/

/***** Start Media Quires *****/
/* Default */
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading + p {
    margin-top: -20px;
    font-size: 14px;
  }

  .services .container .services-grid .col .item {
    flex-direction: column;
    text-align: center;
  }

  .contact .content .label,
  .contact .content .link {
    font-size: 25px;
  }
}

/* sm */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* md */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* lg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Custom Media */
@media (max-width: 991px) {
  .about .about-flex {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .about .about-flex .image {
    margin-bottom: 40px;
  }

  .about .about-flex .image::before,
  .about .about-flex .image::after {
    display: none;
  }
}

@media (max-width: 1199px) {
  .services .container .services-grid .col .image {
    display: none;
  }
}
/***** End Media Quires *****/
